<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yuneec FlightLog to GPX Converter</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <div class="container wrapper">
        <div class="jumbotron">
            <h1>Yuneec Flight Log Converter</h1>
        </div>
        <div>
            <form action="/import" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputFile">Select the Flightlog to upload</label>
                    <input type="file" name="file" id="exampleInputFile">
                    <p class="help-block">Telemetry data is saved to a file on the ST10 TX if you have an SD Card installed.</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Mike Carr @2015</p>
      </div>
    </footer>
</body>

</html>
