<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yuneec FlightLog to GPX Converter</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <!-- {{ entries }} -->
    <div class="container wrapper">
        <div class="jumbotron">
            <h1>Doarama Display</h1>
            <p class="text-center">
                <a href="http://www.doarama.com/terms">Doarama Terms of Use</a>
            </p>
        </div>
        {% for entry in entries %}
        <!-- <li><h2>{{ entry.key_id }}</h2></li> -->
        <iframe width="940px" height="420px" src="http://api.doarama.com/api/0.2/visualisation?k={{ entry.key_id }}&name=You&avatar=http%3A%2F%2Fplacehold.it%2F32x32" frameborder="0" allowfullscreen></iframe>
        {% else %}
        <li><em>Unbelievable.  No entries here so far</em> </li>
        {% endfor %}
        <footer class="footer">
    <div class="container">
        <p class="text-muted">Mike Carr @2015</p>
    </div>
</footer>

    </div>
</body>

</html>
